<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hieheihei.hotel.order.mapper.IOrderMapper">

    <resultMap id="OrderResultMap" type="Order">
        <id property="id" column="ro_id"/>
        <result property="start" column="ro_start"/>
        <result property="end" column="ro_end"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="OrderWithRoomGuestResultMap"
               type="Order"
               extends="OrderResultMap">
        <association property="room"
                     resultMap="com.github.hieheihei.hotel.room.mapper.IRoomMapper.RoomResultMap"/>
        <collection property="guests"
                    ofType="GuestModel"
                    resultMap="com.github.hieheihei.hotel.guest.mapper.IGuestMapper.GuestResultMap"/>
    </resultMap>
    <!--    # room_order(ro_id,room_id,ro_start,ro_end,status)-->
    <!--    # guest_room_order(order_id,guest_id)-->

    <insert id="insertToRoomOrder" useGeneratedKeys="true" keyProperty="id">
        insert into room_order (room_id,ro_start,ro_end,status)
        values (#{room.id},#{start},#{end},#{status})
    </insert>

    <insert id="insertToGuestRoomOrder">
        insert into guest_room_order (order_id,guest_id)
        values (#{orderId},#{guestId})
    </insert>

    <delete id="deleteFromRoomOrder">
        delete from room_order where ro_id = #{orderId}
    </delete>

    <delete id="deleteFromGuestRoomOrder">
        delete from guest_room_order where order_id = #{orderId}
    </delete>

    <update id="updateRoomOrder">
        update room_order
        <set>
            <if test="room != null">room_id = #{room.id},</if>
            <if test="start != null">ro_start = #{start},</if>
            <if test="end != null">ro_end = #{end},</if>
            <if test="status != null">status = #{status}</if>
            where ro_id = #{id}
        </set>
    </update>
    <!--    # room_order(ro_id,room_id,ro_start,ro_end,status)-->
    <!--    # guest_room_order(order_id,guest_id)-->
    <select id="selectByIdWithRoomAndGuest" resultMap="OrderWithRoomGuestResultMap">
        select *
        from (((room_order a inner join room b  on a.room_id = b.rm_id ) as c
            inner join guest_room_order d on c.order_id = d.order_id ) as e
            inner join guest f on e.guest_id = f.gt_id) as g
        where g.ro_id = #{id}
    </select>
    <select id="selectByAllWithRoomAndGuest" resultMap="OrderWithRoomGuestResultMap">
        select *
        from ((room_order a inner join room b  on a.room_id = b.rm_id ) as c
            inner join guest_room_order d on c.order_id = d.order_id ) as e
            inner join guest f on e.guest_id = f.gt_id
    </select>
    <select id="selectByRoomIdWithRoomAndGuest" resultMap="OrderWithRoomGuestResultMap">
        select *
        from (((room_order a inner join room b  on a.room_id = b.rm_id ) as c
            inner join guest_room_order d on c.order_id = d.order_id ) as e
            inner join guest f on e.guest_id = f.gt_id) as g
        where g.room_id = #{roomId}
    </select>


</mapper>