<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hieheihei.hotel.room.mapper.IRoomMapper">
    <!--    # room(id,rm_code,type_id)-->
    <!--    # room_type(id,tp_name,price,max_num,message)-->
    <!--    private int id;-->
    <!--    private String code;-->
    <!--    private RoomTypeModel type;-->

    <!--    public class RoomTypeModel {-->
    <!--    //# room_type(id,tp_name,price,max_num,message)-->
    <!--    private int id;-->
    <!--    private String name;-->
    <!--    private double price;-->
    <!--    private int maxNum;-->
    <!--    private String message;-->


    <resultMap id="RoomResultMap" type="Room">
        <id property="id" column="id"/>
        <result property="code" column="rm_code"/>
    </resultMap>

    <!-- map with type -->
    <resultMap type="Room" id="RoomWithTypeResultMap"
               extends="RoomResultMap">
        <association property="type"
                     resultMap="com.github.hieheihei.hotel.room.mapper.IRoomTypeMapper.RoomTypeResultMap"/>
    </resultMap>

    <insert id="insert">
        insert into room (rm_code,type_id) values
        (#{code}, #{type.id})
    </insert>
    <update id="update">
        update room
        <set>
            <if test="code != null">rm_code=#{code},</if>
            <if test="type != null and type.id != 0">type_id=#{type.id}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from room where id=#{id}
    </delete>
    <select id="selectByAll" resultMap="RoomResultMap">
        select * from room
    </select>
    <select id="selectById" resultMap="RoomResultMap">
        select * from room where id=#{id}
    </select>
    <select id="selectByAllWithType" resultMap="RoomWithTypeResultMap">
        select * from room a inner join room_type b on a.type_id=b.id
    </select>
    <select id="selectByNameWithType" resultMap="RoomWithTypeResultMap">
        select * from room a inner join room_type b on a.type_id=b.id
        where a.rm_code = #{code}
    </select>
    <select id="selectByTypeWithType" resultMap="RoomWithTypeResultMap">
        select * from room a inner join room_type b on a.type_id=b.id
        where b.tp_name = #{type.name}
    </select>
    <select id="selectByConditionWithType" resultMap="RoomWithTypeResultMap">
        select * from room a inner join room_type b on a.type_id=b.id
        <where>
            <if test="code != null">a.rm_code like #{code} and</if>
            <if test="typeName != null">b.tp_name like #{typeName}</if>
        </where>
    </select>


</mapper>