<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hieheihei.hotel.room.mapper.IRoomTypeMapper">

    <resultMap id="RoomTypeResultMap" type="RoomType">
        <id property="id" column="id"/>
        <result property="name" column="tp_name"/>
        <result property="price" column="price"/>
        <result property="maxNum" column="max_num"/>
        <result property="message" column="message"/>
    </resultMap>

    <insert id="insert">
        insert into room_type (tp_name,price,max_num,message) values
        (#{name}, #{price}, #{maxNum}, #{message})
    </insert>
    <update id="update">
        update room_type
        <set>
            <if test="name != null">tp_name=#{name},</if>
            <if test="price > 0 ">price=#{price},</if>
            <if test="maxNum > 0 ">max_num=#{maxNum},</if>
            <if test="message != null">message=#{message}</if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete">
        delete from room_type where id=#{id}
    </delete>
    <select id="selectByAll" resultMap="RoomTypeResultMap">
        select * from room_type
    </select>
    <select id="selectById" resultMap="RoomTypeResultMap">
        select * from room_type where id=#{id}
    </select>
    <select id="selectByName" resultMap="RoomTypeResultMap">
        select * from room_type where tp_name=#{name}
    </select>
    <select id="selectByCondition" resultMap="RoomTypeResultMap">
        select * from room_type
        <where>
            <if test="name != null">tp_name like #{name}</if>
            <if test="priceAtMost > 0">and price &lt;= #{priceAtMost}</if>
            <if test="maxNumAtLeast > 0">and max_num &gt;= #{maxNumAtLeast}</if>
        </where>
    </select>

</mapper>