<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.hieheihei.hotel.admin.mapper.IUserMapper">

    <resultMap id="AdminResultMap" type="Admin">
        <id property="id" column="id"/>
        <result property="password" column="ad_password"/>
        <result property="name" column="ad_name"/>
    </resultMap>

    <update id="update">
        update admin set ad_password=#{password},ad_name=#{name} where id=#{id}
    </update>

    <select id="selectById" resultMap="AdminResultMap">
        select * from ht_user where id=#{id}
    </select>


</mapper>